@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic.ttf");
}