@import "includes/variables";
@import "includes/fonts";
@import "vendors/bootstrap";

body {
	color: #4a4747;
	font-size: 16px; 
}

a {
	transition:.3s;
}

a:hover {
	transition:.3s;
}

button {
	&:focus {
		outline: none;
	}
}

input {
	&:focus {
		outline: none;
	}
}

.mob-button {
	display: none;
}

.mobile-toggle {
	display: none;
}

.rec-mob-art {
	display: none;
}

.cat-title {
	display: none;
}

header.header {
	position: absolute;
	background-color: rgba(255, 255, 255,.902);
	box-shadow: 0px 1px 13px 0px rgba(0, 2, 1, 0.19);
	height: 100px;
	width: 100%;
	ul {
		padding: 0;
		margin: 0;
		text-align: right;
		margin-top: 33px;
		li {
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			margin-left: 4px;
			&.rounded {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				box-shadow: 0px 0px 6.65px 0.35px rgba(141, 141, 141, 0.35);
				position: relative;
				margin-left: 12px;
				background-color: #fff;
				a {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			a {
				display: block;
				width: 25px;
				height: 25px;
				background-image: url(../img/social.png);
				&#tel {
					width: auto;
					background-image: none; 
					color: #2a2a2a;
					text-decoration: none;
					&:hover {
						opacity: .9;
					}
				}
				&#whatsapp {
				    background-position: 0 0;
				    width: 21px;
				    height: 24px;
				}
				&#viber {
					background-position: -52px 0;
					width: 27px;
					height: 26px;
				}
				&#telegram {
					background-position: -106px 0;
					width: 27px;
					height: 26px;
				}
				&#instagram {
					background-position: 64px 0;
					width: 28px;
					height: 26px;
					margin-left: 20px;
				}
				&#facebook {
					background-position: 25px 0;  
				}
			}
		}
	}
	.logo {
		margin-top: 17px;
		display: block;
		width: 185px;
		height: 63px;
		img {
			width: 185px;
			height: 63px;
		}
	}
}

.main-screen {
	height: 750px;
	background-image: url(../img/main-screen.jpg);
	background-size: cover;
	width: 100%;  
	.logo-central {
		display: block;
		margin: auto;
		padding-top: 160px;
	}
	
	h1 {
		font-size: 60px;
		color: #fff;
		text-transform: uppercase;
		line-height: 1;
		text-shadow: 0px 1px 18px rgba(0, 2, 1, 0.22);
		text-align: center;
	    margin-top: 30px;
    	margin-bottom: 40px;
	}
	.block {
		border-radius: 11px;
		background-color: rgba(255,255,255,.902);
		height: 183px; 
		text-align: center;
		padding-top: 40px;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 28px;
		&.active {
			background-color: #63b32e;
			cursor: pointer;
			.title {
				color: #fff;
			}			
			.img {

			}
		}
		&:hover {
			background-color: #63b32e;
			cursor: pointer;
			.title {
				color: #fff;
			}
			.img {
				&#police {
					background-position: -17px -103px;
				}
				&#family {
					background-position: -234px -103px;
				}
				&#work {
					background-position: -449px -103px;
				}
				&#users {
					background-position: -661px -103px;
				}
				&#docs {
					background-position: -875px -103px;
				}
				&#zhgk {
					background-position: -1088px -103px;
				}
			}
		}
		.img {
			width: 60px;
			height: 60px;
			display: block;
			margin: auto;
			background-image: url(../img/ic-sprite.png);
			background-position: 0 0; 
			&#police {
				background-position: -17px -26px;
			}
			&#family {
				background-position: -234px -26px;
			}
			&#work {
				background-position: -449px -26px;
			}
			&#users {
				background-position: -661px -26px;
			}
			&#docs {
				background-position: -875px -26px;
			}
			&#zhgk {
				background-position: -1088px -26px;
			}
		}
		.title {
			color: #636060;
			text-transform: uppercase;
			margin-top: 12px;
		}
	}
}

#search-cat {
	position: relative;
	&.focus {
		&::before {
			display: none;
		}
	}
	&::before {
		content: '';
		position: absolute;
		left: calc(50% - 53px);
		top: 50%;
		transform: translate(-50%,-50%);
		height: 32px;
		width: 31px;
		background-image: url(../img/search.png); 
		opacity: .6;
	}
	input {
		height: 70px;
		background: none;
		background-color: rgba(255,255,255,.902);
		border: none;
		border-radius: 11px; 
		color: #2a2a2a;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
	}
}

section.video {
	background-color: #8adefd;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-bottom: 50px;
	h2 {
		color: #fff;
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 20px;
		margin-top: 0;
		&::before {
			content: '';
			width: 34px;
			height: 31px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 12px;
			background-image: url(../img/what.png); 
		}
	}
	p {
		margin-bottom: 25px;
		line-height: 1.5;
		color: #fff;
	}
}

.video-js .vjs-tech {
    height: 100%;
}

.video-js .vjs-tech, .vjs-poster {
    top: 0;
    width: 100%;
    position: absolute;
    left: 0;
}

.video-js {
	height: 259px;
    width: 100%;
    border-radius: 11px;
}

.vjs-poster {
	background-size: cover !important;
	opacity: 1 !important; 
}

.vjs-afterglow-skin .vjs-big-play-button:before {
	content: '' !important;
	box-shadow: 0px 1px 10px 0px rgba(0, 2, 1, 0.5);
	border-radius: 100%;
	background-image: url(../img/play.png);
}

.vjs-afterglow-skin .vjs-big-play-button {
	width: 72px !important;
	height: 72px !important;
}

.category-link {
	font-size: 20px;
	text-transform: uppercase;
	color: #63b32e;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 36px;
	&:hover {
		text-decoration: none;
		color: #63b32e;
		opacity: .9;
	}
	&::before {
		content: '';
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 19px;
		background-image: url(../img/arr.png);
		margin-right: 12px;
		background-repeat: no-repeat;
		background-position: 0px 1px;
	}
}

.category-section {
	padding-bottom: 10px;
}

hr.section {
	height: 1px;
	width: 100%;
	background-color: #e9e9d9; 
	margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: none;
}

.category-block {
	border: 1px solid #f2f1ed;
	border-radius: 11px;
	box-shadow: 0px 1px 8.03px 2.97px rgba(242, 242, 242, 0.4);
	padding: 26px 24px 6px 24px;
	background-color: #fff;
	margin-bottom: 23px;
	&:hover {
		background-color: #63b32e;
		a {
			color: #fff;
		} 
		p {
			color: #fff;
		}
		.date {
			color: #fff;
		}
		.read {
			color: #fff;
			&::after {
				background-color: #fff; 
			}
		}
		.title::before {
			background-color: #fff; 
		}		
	} 
	.title {
		font-family: "OpenSans-ExtraBold";
		font-size: 19px;
		text-transform: uppercase;
		color: #4a4747;
		padding: 20px 0;
		padding-left: 16px;
		position: relative;
		display: block;
		margin-bottom: 16px;
		&::before {
			content: '';
			width: 5px;
			position: absolute;
			display: block;
			left: 0;
			height: 100%;
			background-color: #a1d17c;
			top: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.thumb {
		width: 100%;
		height: 180px;
		border-radius: 11px;
		background-size: cover; 
	}
	p {
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.read {
		color: #63b32e;
		position: relative;
		font-family: "OpenSans-ExtraBold";
		text-transform: uppercase;
		margin-bottom: 20px;
		display: inline-block;
		&:hover {
			text-decoration: none;
			&::after {
				opacity: 0;
				transition: .3s;
			}
		}
		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: #63b32e; 
			transition: .3s;
		}
	}
	.date {
		font-family: "OpenSans-Italic";
		text-transform: uppercase;
		padding-top: 9px;
	}
	.share-links {
		ul {
			padding: 0;
			margin: 0;
			text-align: right;
		}
		li {
			display: inline-block;
			list-style: none;
			height: 37px;
			width: 37px;
			border: 1px solid #bfbfbf;
			border-radius: 100%;
			position: relative;
			margin-left: 12px;
			transition: .3s;
			&.tw {
				&:hover {
					border: 1px solid #1da1f2;
					transition: .3s;
					a {
						color: #1da1f2;
					}
				}
			}
			&.fb {
				&:hover {
					border: 1px solid #3b5998;
					transition: .3s;
					a {
						color: #3b5998;
					}
				}
			}
			a {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
				padding-top: 6px;
				color: #bfbfbf;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.more-articles {
	display: block;
	border: 3px solid #78d2f3;
	color: #78d2f3;
	border-radius: 12px;
	width: 200px;
	text-align: center;
	float: right;
	text-transform: uppercase;
	padding: 5px 0;
	font-family: "OpenSans-ExtraBold";
	margin-bottom: 40px;
	&:hover {
		text-decoration: none;
		border: 3px solid #63b32e;
		color: #63b32e;
	}
}

footer.footer {
	background-color: #f9f9e7;
	ul {
		padding: 0;
		margin: 0;
		text-align: right;
		margin-top: 33px;
		margin-bottom: 25px;
		li {
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			margin-left: 4px;
			a {
				display: block;
				width: 25px;
				height: 25px;
				background-image: url(../img/social.png);
				&#tel {
					width: auto;
					background-image: none; 
					color: #2a2a2a;
					text-decoration: none;
					&:hover {
						opacity: .9;
					}
				}
				&#whatsapp {
				    background-position: 0 0;
				    width: 21px;
				    height: 24px;
				}
				&#viber {
					background-position: -52px 0;
					width: 27px;
					height: 26px;
				}
				&#telegram {
					background-position: -106px 0;
					width: 27px;
					height: 26px;
				}
				&#instagram {
					background-position: 64px 0;
					width: 28px;
					height: 26px;
					margin-left: 20px;
				}
				&#facebook {
					background-position: 25px 0;  
				}
			}
		}
	}
	.logo {
		margin-top: 32px;
		display: block;
		width: 100px;
		height: 13px;
		img {
			width: 100px;
			height: 13px;
		}
	}
}

main.category-page {
	padding-top: 70px;
	.category-section {
		padding-bottom: 0;
	}
}

.pag-block {
	text-align: center;
}

.pagination {
	margin-top: 0;
    margin-bottom: 40px;
}

.pagination > li > a, .pagination > li > span {
	border: none;
	font-size: 25px;
	color: #4a4747;
	font-family: 'Open Sans', sans-serif;
}

.pagination > li {
	border: none !important;
}

.pagination > li > a > i:first-child {
	margin-right: -3px;
}

.pagination > .active > a:hover,
.pagination > .active > a:focus {
	background-color: transparent;
	color: #77b32e;
}

.pagination > .active > a {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.pagination > li.active > a {
	color: #77b32e;
}

.rec-title {
	font-size: 25px;
	font-family: "OpenSans-ExtraBold";
	text-transform: uppercase;
	text-align: center;
	margin-top: 23px;
	margin-bottom: 21px;
}

.article-page {
	.page-image {
		height: 317px;
		width: 100%;
		border-radius: 11px;
		background-size: cover;
		background-position: 0px -170px;
		padding-top: 170px;
	}
	h1 {
		font-family: "OpenSans-Bold";
		font-size: 60px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 0;
		text-shadow: 0px 1px 18px rgba(0, 2, 1, 0.22);
	}
	article {
		margin-top: 60px;
	}
	.category-name {
		font-size: 25px;
		font-family: "OpenSans-ExtraBold";
		color: #fff;
		font-variant: small-caps;
		text-align: center;
	}
	.article-body {
		padding-top: 30px;
		padding-bottom: 23px;
	}
	.left {
		padding-left: 25px;
		width: calc(100% - 482px);
		float: left;
	}
	.right {
		width: 397px;
		float: right;
		border: 4px solid #8aeffd;
		border-radius: 11px;
		.sidebar-header {
			border-bottom: 4px solid #8aeffd;
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					font-size: 25px;
					display: inline-block;
					vertical-align: middle;
					font-family: "OpenSans-ExtraBold";
					font-variant: small-caps;
					text-align: center;
					padding: 3px 0 9px;
					float: left;
					&:hover {
						cursor: pointer;
					}
					&.active {
						background-color: #8aeffd;
						color: #fff;
					}
					&:first-child {
						width: 40%;
					}
					&:last-child {
						width: 60%;
					}
				}
			}
		}
		.sidebar-body {
			display: none;
			&.active {
				display: block;
			}
			a.sidebar-title {
			    font-size: 25px;
			    font-family: "OpenSans-Bold";
			    color: #4a4747;
			    font-variant: small-caps;
			    line-height: 1;
			    padding-left: 14px;
			    position: relative;
			    padding-top: 9px;
			    padding-bottom: 15px;
			    margin-bottom: 14px;
			    display: block;
			  &:hover {
			  	text-decoration: none;
			  }
			  &::before {
			  	content: '';
			  	position: absolute;
			  	left: 0;
			  	top: 0;
			  	width: 5px;
			  	height: 100%;
			  	background-color: #add17c; 
			  }
			}
			.sidebar-thumbnail {
				height: 180px;
				width: 100%;
				border-radius: 11px;
				background-size: cover; 
			}
			.bl-art {
				padding: 24px;
				border-bottom: 1px solid #e9e7d9;
			}
		}
	}
	h3 {
		font-size: 16px;
		font-family: "OpenSans-Bold";
		margin-bottom: 20px;
		display: block;
	}
	p {
		line-height: 1.5;
		margin-bottom: 20px;
	}
}

hr.hr-art {
	margin-top: 7px;
	margin-bottom: 0;
	border-top: 1px solid #e9e7d9;
}

.search-button {
	display: none;
}

h2.mob {
	display: none;
}

.arr-nav {
	height: 34px;
	width: 34px;
	background-color: #fff;
	border: 1px solid #67b532;
	border-radius: 100%;
	position: absolute;
	z-index: 99;
	top: 50%;
	transform: translateY(-50%);
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
	} 
}

.arr-left {
	left: 10px;
}

.arr-right {
	right: 10px;
}

.slick-slide:focus {
	outline: none;
}

#mobile-search {
	display: none;
}